body
{
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: arial;
}

#Hedder
{
	background-color: #ffffff;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 8%;
	-webkit-box-shadow: -1px 11px 36px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 11px 36px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 11px 36px -1px rgba(0,0,0,0.75);

}

#Website-Logo
{
	position: absolute;
	height: 100%;
	top: -3%;
	left: 8%;
}

#Hedder  h2
{
	position: absolute;
	top: 5%;
	left: 15%;
}


.nav li
{
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 15px;

}

#Nav-Bar-Items
{
	position: absolute;
	font-size: 20px;
	top: -10%;
	left: 33%;
}

#Facebook
{
	position: absolute;
	right: 0%;
}

#FacebookImg
{
	position: absolute;
	right: 7%;
	top: 20%;
	height: 55%;
}

#TwitterImg
{
	position: absolute;
	right: 3%;
	top: 19.5%;
	height: 55%;
}

#Jumbotron
{
	position: absolute;
	width: 100%;
	top: 9.6%;
	height: 50%;
	background-image: url(Jubotron-img.jpg);
}

#Jumbotron-Main-title
{
	position: absolute;
	text-align: center;
	font-size: 35px;
	left: 40%;
	top: 10%;
	color: #ffffff;
}

#Under-Title
{
	position: absolute;
	text-align: center;
	font-size: 25px;
	left: 40.2%;
	top: 40%;
	color: #ffffff;
}

#content-area-1
{
	position: absolute;
	left: 0%;
	top: 59.5%;
	height: 40%;
	width: 100%;
	background-color: #ffffff;
	-webkit-box-shadow: -1px -9px 41px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -9px 41px -1px rgba(0,0,0,0.75);
	box-shadow: -1px -9px 41px -1px rgba(0,0,0,0.75);
}

#Easy-to-hire-img
{
	position: absolute;
	left: 15%;
	top: 8%;
	height: 38%;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}

#Ezy-to-hire-Hedder
{
	position: absolute;
	text-align: center;
	font-size: 24px;
	left: 14.7%;
	top: 48%;
}

#Easy-to-Hire-Paragraph
{
	position: absolute;
	left: 12%;
	top: 66%;
}

#Bespoke-Service-Img
{
	position: absolute;
	left: 45%;
	height: 35%;
	top: 7.8%;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}

#Bespoke-Service-Headder
{
	position: absolute;
	text-align: center;
	font-size: 24px;
	left: 43%;
	top: 46.7%;
}

#Bespoke-Service-Paragraph
{
	position: absolute;
	left: 42%;
	top: 65%;
}

#Finance-Img
{
	position: absolute;
	left: 74%;
	height: 35%;
	top: 7.8%;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}

#Finance-Headder
{
	position: absolute;
	text-align: center;
	font-size: 24px;
	left: 74.6%;
	top: 46.7%;
}

#Finance-Paragraph
{
	position: absolute;
	left: 71.2%;
	top: 65%;
}

#content-area-2
{
	position: absolute;
	left: 0%;
	top: 99.7%;
	height: 40%;
	width: 100%;
	background-color: #2E3754;
	-webkit-box-shadow: -1px -5px 44px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -5px 44px 6px rgba(0,0,0,0.75);
	box-shadow: -1px -5px 44px 6px rgba(0,0,0,0.75);
}

#Footer
{
	position: absolute;
	left: 0%;
	height: 20%;
	width: 100%;
	top: 138%;
	background-color: #11141F;
	-webkit-box-shadow: 4px -11px 25px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px -11px 25px 3px rgba(0,0,0,0.75);
	box-shadow: 4px -11px 25px 3px rgba(0,0,0,0.75);

}

#Song-Recomendations-Img
{
	position: absolute;
	left: 44%;
	top: 5%;
	height: 20%;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}

#Song-Recomendations-Hedder
{
	position: absolute;
	color: #ffffff;
	left: 39%;
	top: 23%;
}

#Weddings-Table
{
	position: absolute;
	color: #E58232;
	left: 3%;
	top: 4%;

}

#Burns-Night-Table
{
	position: absolute;
	color: #E58232;
	left: 43%;
	top: 35%;
}

#Funerels-Table
{
	position: absolute;
	color: #E58232;
	left: 80%;
	top: 4%;
}
